html {
  font-family: Helvetica, sans-serif;
}

p {
  font-size: 8pt;
  margin: 0;
  margin-top: 1vh;
}

#root {
  width: 98.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#topContainer {
  height: 74vh;
  display: flex;
}

#legend {
  width: 20vw;
  margin-left: 2vw;
}

#readingMonths {
  margin-top: 3vh;
}

.lGroup {
  margin-bottom: 2vh;
}

#title {
  margin-top: 0;
  margin-bottom: 2vh;
  font-weight: bold;
  line-height: 20pt;
}

.subTitle {
  margin-bottom: 0vh;
  font-weight: normal;
}

#readingTime {
  display: flex;
  margin-top: 2vh;
}

#description {
  margin: 0vh;
  font-size: 10pt;
}

#artifactTypes {
  list-style: none;
  padding-left: 0;
  font-size: 10pt;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.type {
  display: flex;
  opacity: 100%;
  transition: all 0.25s ease-out;
}

.type:hover {
  cursor: pointer;
}

.hoverType {
  opacity: 100% !important;
  transition: all 0.25s ease-out;
}

.notHoverType {
  opacity: 25% !important;
  transition: all 0.25s ease-out;
}

.artifact {
  margin-top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 5px;
  transition: all 0.25s ease-out;

}

.partialArtifactOpacity {
  opacity: 25%;
  transition: all 0.25s ease-out;
}

.fullArtifactOpacity {
  opacity: 100%;
  transition: all 0.25s ease-out;
}

#focusedVisualization {
  display: flex;
  width: 80vw;
  height: max-content;
}

#focused {
  transition: all 0.25s ease-out;
}

.artifact:hover {
  cursor: pointer;
}

#emptyHoverText {
  margin-left: 6vw;
  margin-top: 40vh;
  opacity: 50%;
  font-size: 12pt;
}

#bottomVis {
  width: 90vw;
  margin-left: 5vw;
  height: 20vh;
}

.summary {
  opacity: 0.25;
  transition: opacity 0.25s ease-out;
}

.summary:hover {
  opacity: 1;
  cursor: pointer; 
}

#viewArtifact {
  width: 22vw;
}

#artifactSummaryImage {
  max-height: 60vh;
  max-width: 27vw;
}

#artifactSummaryText {
  margin: 0;
  font-style: italic;
  font-size: 10pt;
}

.selectedCountry {
  cursor: pointer;
  transition: all 0.25s ease-out;
  fill: darkgray !important;
  stroke: #000;
}

.notSelectedCountry {
  cursor: pointer;
  transition: all 0.25s ease-out;
  fill: transparent !important;
  stroke: #000;
}

.hoverCountry {
  fill: darkgray !important;
  transition: all 0.25s ease-out;
}

.cls-1 {
  fill: darkgray;
  transition: all 0.25s ease-out;
  opacity: 25%;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.notHoverCountry {
  fill: white !important;
  transition: all 0.25s ease-out;
}

#summaryType {
  display: flex
}

#summaryType > span {
  margin-right: 5px;
}

.tooltip-enter {
  opacity: 0;
}

.tooltip-enter-active {
  opacity: 1;
  transition: opacity 250ms
}

.tooltip-exit {
  opacity: 0;
}

.tooltip-exit-active {
  opacity: 0;
  transition: opacity 250ms
}
